{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Expires" content="-1">

  <!--Description page-->
  <meta name="description" content="">

  <!--Title-->
  <title>Multiscale Entropy Analysis (MSE)</title>

  <!--Favicon-->
  <!--<link rel="shortcut icon" target="_blank" href="{% static "/images/favicon.png" %}"/>-->

  <!--JavaScript-->
  {% include "include/javascript.html" %}
  {% block javascript %} {% endblock %}

  <!--Brython-->
  {% include "include/brython.html" %}

  <!--Bootstrap-->
  {% include "include/bootstrap.html" %}

  <!--CSS-->
  {% include "include/stylesheets.html" %}

  <!--Data for JavaScript-->
  <script type="text/javascript">{% include "include/data.json" %}</script>

  <!--Custom styles-->
  <style type="text/css" rel="stylesheet">{% block style %} {% endblock %}</style>

  <!--Put in header-->
  {% block head %} {% endblock %}

</head>

<!--I am usin brython!!-->
<body onload="brython()" class="{% block body_class %} {% endblock %}">
  {% block navbar %} {% include "page/navbar.html" %} {% endblock %}

  {% block post_navbar %}{% endblock %}

  {% block content_parent %}
    <div class="{% block container %}container{% endblock %}">
      {% block pre_content %} {% endblock %}
      {% block content %} {% endblock %}
      {% block pos_content %} {% endblock %}
    </div>
  {% endblock %}

  {% block footer %} {% include "page/footer.html" %} {% endblock %}
</body>

</html>




