

<footer class="custom-footer">

  <a href="http://yeisoncardona.com/">Yeison Cardona</a> - 2015<br>

  <br>
  <ul class="list-unstyled list-inline muted">
    <li><a href="https://bitbucket.org/yeisoneng/mse-analyser">MSE Analyser</a></li>
    <li>·</li>
    <li><a href="https://bitbucket.org/yeisoneng/openshift-django-exporter">Openshift Django Exporter</a></li>
    <li>·</li>
    <li><a href="https://www.python.org/">Python</a></li>
    <li>·</li>
    <li><a href="https://www.openshift.com/">Openshift</a></li>
    <li>·</li>
    <li><a href="{% url "about" %}">About</a></li>
  </ul>

  <span style="font-size: 12px;">
  Made with <i class="fa fa-heart text-primary"></i> by <a href="https://twitter.com/yeisoneng">@yeisoneng</a> in Colombia.<br>
  <s>...and drinking a lots of coffe.</s>
  </span>

</footer>
