<nav class="navbar navbar-light navbar-fixed-top bg-faded">
  <div class="container">

    <ul class="nav navbar-nav">

      <!--Calc tab-->
      {% with name="Analyser" name_url="mse" %}
      <li class="nav-item {% url name_url as target_url %}{% ifequal target_url request.path %}active{% endifequal %}{% ifequal target_url|add:"/" request.path %}active{% endifequal %}"><a class="nav-link" href="{% url name_url %}">
        <!--<i class="fa fa-area-chart"></i>-->
        {{name}}
      </a></li>
      {% endwith %}

      <!--MSE tab-->
      {% with name="SampEn" name_url="about" %}
      <li class="nav-item {% url name_url as target_url %}{% ifequal target_url request.path %}active{% endifequal %}{% ifequal target_url|add:"/" request.path %}active{% endifequal %}"><a class="nav-link" href="{% url name_url %}">
        <!--<i class="fa fa-question"></i>-->
        {{name}}
      </a></li>
      {% endwith %}

    </ul>

    <div class="pull-right">
      <button class="btn btn-secondary" onClick="location.reload()"><i class="fa fa-refresh"></i> Reload app</button>
    </div>



  </div>
</nav>