
body{

/*margin-top: 100px;*/
margin-top: 65px;
background-color: #FEFEFE;

}

.nav-item{

margin-right: 30px;

}

footer.custom-footer{

padding-top: 40px;
padding-bottom: 40px;
margin-top: 100px;
color: #777;
text-align: center;
border-top: 1px solid #E5E5E5;

}

label.file{

width: 100%;

}

.file-custom{

border-radius: 0px;
box-shadow: none;

}


.card-sticky{

position: sticky;
top: 70px;
bottom: 20px;


}


.row-args input{

margin-left: 20px;
width: calc(100% - 20px);
border-radius: 0px;

}

.row-args span{

position: absolute;

}

canvas[style]{

height: none !important;
width: none !important;

}