{% load static %}

<!--Tooltips-->
    <!--<script type="texst/javascript" src="{% static "javascript/tether-1.1.0/dist/js/tether.min.js" %}"></script>-->

<!--Bootstrap 3.3.5-alpha-->
    <!--<link type="text/css" href="{% static "bootstrap/bootstrap-3.3.5/css/bootstrap.min.css"%}" rel="stylesheet">-->
    <!--<script type="text/javascript" src="{% static "bootstrap/bootstrap-3.3.5/js/bootstrap.min.js" %}"></script>-->

<!--Bootstrap 4.0.0-alpha-->
    <link type="text/css" href="{% static "bootstrap/bootstrap-4.0.0-alpha/css/bootstrap.min.css"%}" rel="stylesheet">
    <script type="text/javascript" src="{% static "bootstrap/bootstrap-4.0.0-alpha/js/bootstrap.min.js" %}"></script>

