{% load static %}

<!--JQuery-->
    <script type="text/javascript" src="{% static "jquery/jquery-2.1.4/jquery-2.1.4.min.js" %}"></script>

<!--JQuery UI-->
    <!--<script type="text/javascript" src="{% static "jquery/jquery-ui-1.11.4/jquery-ui.min.js" %}"></script>-->
    <!--<link type="text/css" href="{% static "jquery/jquery-ui-1.11.4/jquery-ui.theme.min.css" %}" rel="stylesheet">-->


<!--JQuery Plugins-->
    <script type="text/javascript" src="{% static "jquery/plugins/jquery.form.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery/plugins/jquery.cookie.js" %}"></script>
    <!--<script type="text/javascript" src="{% static "jquery/plugins/jquery.easing.min.js" %}"></script>-->
    <!--<script type="text/javascript" src="{% static "jquery/plugins/jquery.browser.min.js" %}"></script>-->
    <!--<script type="text/javascript" src="{% static "jquery/plugins/jquery.custom-protocol.js" %}"></script>-->
    <!--<script type="text/javascript" src="{% static "jquery/plugins/jquery-ui-slider-pips.js" %}"></script>-->

<!--JavaScripts-->
    <!--<script type="text/javascript" src="{% static "javascript/scrolling-nav.js" %}"></script>-->
    <!--<script type="text/javascript" src="{% static "javascript/waypoints.min.js" %}"></script>-->
    <!--<script type="text/javascript" src="{% static "javascript/waypoints-infinite.min.js" %}"></script>-->
    <!--<script type="text/javascript" src="{% static "javascript/require.js" %}"></script>-->
    <!--<script type="text/javascript" src="{% static "javascript/bootstrap-slider-5.2.4/bootstrap-slider.min.js" %}"></script>-->
    <!--<link type="text/css" href="{% static "javascript/bootstrap-slider-5.2.4/css/bootstrap-slider.min.css" %}" rel="stylesheet">-->

<!--Coffeescript-->
    <script type="text/javascript" src="{% static "coffeescript/events.js" %}"></script>

<!--Charts.js-->
    <script type="text/javascript" src="{% static "chartjs/Chart.js-1.0.2/Chart.js" %}"></script>
    <!--<script type="text/javascript" src="{% static "chartjs/Chart.js-2.0.0-alpha3/Chart.js" %}"></script>-->

<!--Ace-->
    <!--<script type="text/javascript" src="{% static "ace/ace-builds-1.2.0/src-noconflict/ace.js" %}"></script>-->

<!--Google Maps-->
    <!--AIzaSyDFTkM2KfudfRveL8lHGwDUKX5AghKdGqw-->
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFTkM2KfudfRveL8lHGwDUKX5AghKdGqw&libraries=places"></script>-->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFTkM2KfudfRveL8lHGwDUKX5AghKdGqw&signed_in=true&libraries=geometry&callback=initMap"async defer></script>-->
    <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFTkM2KfudfRveL8lHGwDUKX5AghKdGqw&signed_in=true&callback=initMap"></script>-->
