
<div class="card" id="h_{{form_id}}">
  <div class="card-block">

    <form action="{% url "handler" %}" id="{{form_id}}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="row input-args">


        <div class="col-sm-6">

          <div class="input-group">
            <input type="text" id="{{form_id}}_id_file_fake" class="form-control" placeholder="Choose file..." aria-describedby="basic-addon2" value="" readonly="true">
            <span class="input-group-addon" id="basic-addon2">Browse...</span>
          </div>

          <fieldset class="form-group" style="position: absolute; top: 5px; z-index: 99; opacity: 0; right: 0px;">
            <input type="file" class="form-control-file" name="file" id="{{form_id}}_id_file">
          </fieldset>

        </div>

        <div class="col-sm-4">
          <div class="row row-args">
            <div class="col-sm-4">
              <span><var>a=</var></span>
              <input type="number" class="form-control form-control-sm" name="a" id="id_a" placeholder="" value="1"  min="1" max="40" title="Difference between consecutive scale values">
            </div>
            <div class="col-sm-4">
            <span><var>n=</var></span>
              <input type="number" class="form-control form-control-sm" name="n" id="id_n" placeholder="" value="40" min="1" max="40" title="Maximun scale">
            </div>
            <div class="col-sm-4">
            <span><var>r=</var></span>
              <input type="number" class="form-control form-control-sm" name="r" id="id_r" placeholder="" value="0.15" title="Similarity criterion">
            </div>
          </div>
        </div>

        <div class="col-sm-2">
          <button data-form_id="{{form_id}}" href="#h_{{form_id}}" class="btn btn-block btn-primary btn-submit">SampEn</button>
        </div>

      </div>
    </form>

    <br>

    <!--<div class="text-center">-->
      <!--<big class="fa fa-rotate-270"><var>SampEn</var></big>-->
    <!--</div>-->

    <div class="text-center">
      <i class="fa fa-circle-o-notch fa-spin fa-5x text-primary fa-working-spin-{{form_id}}" style="display: none;"></i>
    </div>


    {% include "charts/line.html" with id=form_id%}
    <script>
    draw_{{form_id}}()
    </script>

    <!--<div class="text-center">-->
      <!--<big><var>Scale factor</var></big>-->
    <!--</div>-->

  </div>

  <div class="card-footer">

    <div class="btn-group" role="group" aria-label="Basic example">
      <!--<button type="button" class="btn btn-secondary"><i class="fa fa-download"></i> Download <b>data.csv</b></button>-->
      <!--<button type="button" class="btn btn-secondary"><i class="fa fa-download"></i> Download <b>mse.csv</b></button>-->
      <a class="btn btn-secondary btn-csv-{{form_id}}" role="button"><i class="fa fa-download"></i> Download <b>data.csv</b></a>
      <a class="btn btn-secondary btn-mse-{{form_id}}" role="button"><i class="fa fa-download"></i> Download <b>mse out</b></a>
    </div>
    <!--<button type="button" class="btn btn-secondary pull-right">Save</button>-->

  </div>

</div>

