
<div class="card">

  <div class="card-block">
    <div style="width: 100%">
      <canvas id="chart-bar-{{id}}"></canvas>
    </div>
  </div>

    {% include "widgets/toolbar.card.html" with left="share data screenshot twitter" right="map reload" %}

</div>




<script>

    function pretty(col, amt, alpha) {
        var usePound = false; if (col[0] == "#") {col = col.slice(1);usePound = true;} var num = parseInt(col,16); var r = (num >> 16) + amt; if (r > 255) r = 255;else if  (r < 0) r = 0; var b = ((num >> 8) & 0x00FF) + amt; if (b > 255) b = 255; else if  (b < 0) b = 0; var g = (num & 0x0000FF) + amt; if (g > 255) g = 255; else if (g < 0) g = 0;
        return ("rgba("+r+","+b+","+g+","+alpha+")");
    };


    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

    var chart_color_set = {{view_theme.split|safe}};

    var chart_theme = [
        {% for i in view_theme.split %}
            [pretty(chart_color_set[{{forloop.counter0}}], 0, 0.8), pretty(chart_color_set[{{forloop.counter0}}], 0, 1), pretty(chart_color_set[{{forloop.counter0}}], 10, 0.8), pretty(chart_color_set[{{forloop.counter0}}], 10, 1)],
        {% endfor %}
    ];


    var barChartData = {
        labels : ["January","February","March","April","May","June","July"],
        datasets : [

            {% for i in view_theme.split %}
                {
                fillColor : chart_theme[{{forloop.counter0}}][0],
                strokeColor : chart_theme[{{forloop.counter0}}][1],
                highlightFill: chart_theme[{{forloop.counter0}}][2],
                highlightStroke: chart_theme[{{forloop.counter0}}][3],
                data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                },
            {% endfor %}
        ]

    }


window.addEventListener("load", function(){
  var ctx_bar = document.getElementById("chart-bar-{{id}}").getContext("2d");
  window.myBar = new Chart(ctx_bar).Bar(barChartData, {


    {% include "thinks/global_configuration.js"%}

    //--------------------------------------------------------------------------

    {% verbatim %}

    //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    scaleBeginAtZero : true,

    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines : true,

    //String - Colour of the grid lines
    scaleGridLineColor : "#E5E5E5",

    //Number - Width of the grid lines
    scaleGridLineWidth : 1,

    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,

    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines: true,

    //Boolean - If there is a stroke on each bar
    barShowStroke : true,

    //Number - Pixel width of the bar stroke
    barStrokeWidth : 1,

    //Number - Spacing between each of the X value sets
    barValueSpacing : 5,

    //Number - Spacing between data sets within X values
    barDatasetSpacing : 1,

    //String - A legend template
    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",

    {% endverbatim %}


  });
})



</script>

