
<div class="canvas-container-{{id}}">
  <canvas id="canvas-line-{{id}}" style="width: 100%; height: calc(100vh - 250px)"></canvas>
</div>




<script>

function pretty(col, amt, alpha) {
    var usePound = false; if (col[0] == "#") {col = col.slice(1);usePound = true;} var num = parseInt(col,16); var r = (num >> 16) + amt; if (r > 255) r = 255;else if  (r < 0) r = 0; var b = ((num >> 8) & 0x00FF) + amt; if (b > 255) b = 255; else if  (b < 0) b = 0; var g = (num & 0x0000FF) + amt; if (g > 255) g = 255; else if (g < 0) g = 0;
    return ("rgba("+r+","+b+","+g+","+alpha+")");
};


  var randomScalingFactor = function(){ return Math.round(Math.random()*100)};


  var chart_color_set = {{view_theme.split|safe}};



  var theme_line = [

    {% for i in view_theme.split %}
    [pretty(chart_color_set[{{forloop.counter0}}], 0, 0.5), pretty(chart_color_set[{{forloop.counter0}}], -30, 1)],
    {% endfor %}

  ];



  var lineChartData = {
    labels : {{X_data}},
    datasets : [


    {% for color in view_theme.split %}
      {
        label: "{{color}}",
        fillColor : "rgba(0,0,0,0)",
        strokeColor : theme_line[{{forloop.counter0}}][0],
        pointColor : theme_line[{{forloop.counter0}}][0],
        pointStrokeColor : "#fff",
        pointHighlightFill : "#fff",
        pointHighlightStroke : theme_line[{{forloop.counter0}}][0],
        data : {{Y_data}}
      },
      {% endfor %}

  ]

  }



var draw_{{id}} = function(){
  var ctx_line = document.getElementById("canvas-line-{{id}}").getContext("2d");
  window.line_{{id}} = new Chart(ctx_line).Line(lineChartData, {

    {% include "charts/global_configuration.js"%}

    //--------------------------------------------------------------------------

    {% verbatim %}

    ///Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines : true,

    //String - Colour of the grid lines
    scaleGridLineColor : "#E5E5E5",

    //Number - Width of the grid lines
    scaleGridLineWidth : 1,

    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,

    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines: true,

    //Boolean - Whether the line is curved between points
    bezierCurve : false,

    //Number - Tension of the bezier curve between points
    bezierCurveTension : 0.4,

    //Boolean - Whether to show a dot for each point
    pointDot : true,

    //Number - Radius of each point dot in pixels
    pointDotRadius : 4,

    //Number - Pixel width of point dot stroke
    pointDotStrokeWidth : 1,

    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
    pointHitDetectionRadius : 20,

    //Boolean - Whether to show a stroke for datasets
    datasetStroke : true,

    //Number - Pixel width of dataset stroke
    datasetStrokeWidth : 2,

    //Boolean - Whether to fill the dataset with a colour
    datasetFill : true,

    //String - A legend template
    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"


    {% endverbatim %}


  });
}


window.addEventListener("load", draw_{{id}})


</script>
