

<div class="card">

  <div class="card-block">
    <div style="width: 100%">
      <canvas id="chart-pie-{{id}}"></canvas>
    </div>
  </div>

  {% include "widgets/toolbar.card.html" with left="share data screenshot twitter" right="map reload" %}

</div>




<script>

function pretty(col, amt, alpha) {
    var usePound = false; if (col[0] == "#") {col = col.slice(1);usePound = true;} var num = parseInt(col,16); var r = (num >> 16) + amt; if (r > 255) r = 255;else if  (r < 0) r = 0; var b = ((num >> 8) & 0x00FF) + amt; if (b > 255) b = 255; else if  (b < 0) b = 0; var g = (num & 0x0000FF) + amt; if (g > 255) g = 255; else if (g < 0) g = 0;
    return ("rgba("+r+","+b+","+g+","+alpha+")");
};


    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

    var chart_color_set = {{view_theme.split|safe}};




  var theme_pie = [

    {% for i in view_theme.split %}
    [pretty(chart_color_set[{{forloop.counter0}}], 0, 1), pretty(chart_color_set[{{forloop.counter0}}], 10, 1)],
    {% endfor %}

  ];


  var pieData = [


    {% for color in view_theme.split %}
    {
      value: randomScalingFactor(),
      color: theme_pie[{{forloop.counter0}}][0],
      highlight: theme_pie[{{forloop.counter0}}][1],
      label: "{{color}}"
    },
    {% endfor %}


  ];



window.addEventListener("load", function(){
  var ctx_pie = document.getElementById("chart-pie-{{id}}").getContext("2d");
  window.myPie = new Chart(ctx_pie).Pie(pieData, {

    {% include "thinks/global_configuration.js"%}

    //--------------------------------------------------------------------------

    {% verbatim %}

    //Boolean - Whether we should show a stroke on each segment
    segmentShowStroke : false,

    //String - The colour of each segment stroke
    segmentStrokeColor : "#fff",

    //Number - The width of each segment stroke
    segmentStrokeWidth : 2,

    //Number - The percentage of the chart that we cut out of the middle
    percentageInnerCutout : 0,

    //Number - Amount of animation steps
    animationSteps : 100,

    //String - Animation easing effect
    animationEasing : "easeOutBounce",

    //Boolean - Whether we animate the rotation of the Doughnut
    animateRotate : true,

    //Boolean - Whether we animate scaling the Doughnut from the centre
    animateScale : true,

    //String - A legend template
    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"


    {% endverbatim %}


  });

})



</script>