

<div class="card">

  <div class="card-block">
    <div style="width: 100%">
      <canvas id="chart-polar-{{id}}"></canvas>
    </div>
  </div>

  {% include "widgets/toolbar.card.html" with left="share data screenshot twitter" right="map reload" %}

</div>




<script>


function pretty(col, amt, alpha) {
    var usePound = false; if (col[0] == "#") {col = col.slice(1);usePound = true;} var num = parseInt(col,16); var r = (num >> 16) + amt; if (r > 255) r = 255;else if  (r < 0) r = 0; var b = ((num >> 8) & 0x00FF) + amt; if (b > 255) b = 255; else if  (b < 0) b = 0; var g = (num & 0x0000FF) + amt; if (g > 255) g = 255; else if (g < 0) g = 0;
    return ("rgba("+r+","+b+","+g+","+alpha+")");
};


    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

    var chart_color_set = {{view_theme.split|safe}};




  var theme_pie = [

    {% for i in view_theme.split %}
    [pretty(chart_color_set[{{forloop.counter0}}], 0, 1), pretty(chart_color_set[{{forloop.counter0}}], 10, 1)],
    {% endfor %}

  ];


  var polarData = [


    {% for color in view_theme.split %}
    {
      value: randomScalingFactor(),
      color: theme_pie[{{forloop.counter0}}][0],
      highlight: theme_pie[{{forloop.counter0}}][1],
      label: "{{color}}"
    },
    {% endfor %}


  ];

window.addEventListener("load", function(){
  var ctx_polar = document.getElementById("chart-polar-{{id}}").getContext("2d");
  window.myPolar = new Chart(ctx_polar).PolarArea(polarData, {


    {% include "thinks/global_configuration.js"%}

    scaleShowLabels: false,
    scaleLineColor: "rgba(229, 229, 229, 0.4)",

    //--------------------------------------------------------------------------

    {% verbatim %}

    //Boolean - Show a backdrop to the scale label
    scaleShowLabelBackdrop : true,

    //String - The colour of the label backdrop
    scaleBackdropColor : "rgba(255,255,0,0.75)",

    // Boolean - Whether the scale should begin at zero
    scaleBeginAtZero : true,

    //Number - The backdrop padding above & below the label in pixels
    scaleBackdropPaddingY : 2,

    //Number - The backdrop padding to the side of the label in pixels
    scaleBackdropPaddingX : 2,

    //Boolean - Show line for each value in the scale
    scaleShowLine : true,

    //Boolean - Stroke a line around each segment in the chart
    segmentShowStroke : false,

    //String - The colour of the stroke on each segement.
    segmentStrokeColor : "#FFF",

    //Number - The width of the stroke value in pixels
    segmentStrokeWidth : 2,

    //Number - Amount of animation steps
    animationSteps : 100,

    //String - Animation easing effect.
    animationEasing : "easeOutBounce",

    //Boolean - Whether to animate the rotation of the chart
    animateRotate : true,

    //Boolean - Whether to animate scaling the chart from the centre
    animateScale : true,

    //String - A legend template
    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"

    {% endverbatim %}


  });

})


</script>
