

<div class="card">


  <div class="card-block">
    <div style="width: 100%">
      <canvas id="chart-radar-{{id}}"></canvas>
    </div>
  </div>


  {% include "widgets/toolbar.card.html" with left="share data screenshot twitter" right="map reload" %}

</div>




<script>

function pretty(col, amt, alpha) {
    var usePound = false; if (col[0] == "#") {col = col.slice(1);usePound = true;} var num = parseInt(col,16); var r = (num >> 16) + amt; if (r > 255) r = 255;else if  (r < 0) r = 0; var b = ((num >> 8) & 0x00FF) + amt; if (b > 255) b = 255; else if  (b < 0) b = 0; var g = (num & 0x0000FF) + amt; if (g > 255) g = 255; else if (g < 0) g = 0;
    return ("rgba("+r+","+b+","+g+","+alpha+")");
};


    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

    var chart_color_set = {{view_theme.split|safe}};




  var theme_radar = [

    {% for i in view_theme.split %}
    [pretty(chart_color_set[{{forloop.counter0}}], 0, 0.5), pretty(chart_color_set[{{forloop.counter0}}], -30, 1)],
    {% endfor %}

  ];




    var radarChartData = {
        labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"],
        datasets: [


        {% for color in view_theme.split %}
          {
            label: "{{color}}",
            fillColor : theme_radar[{{forloop.counter0}}][0],
            strokeColor : theme_radar[{{forloop.counter0}}][1],
            pointColor : theme_radar[{{forloop.counter0}}][1],
            pointStrokeColor : "#fff",
            pointHighlightFill : "#fff",
            pointHighlightStroke : theme_radar[{{forloop.counter0}}][1],
            data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
          },
          {% endfor %}




        ]
    };

window.addEventListener("load", function(){
  var ctx_radar = document.getElementById("chart-radar-{{id}}").getContext("2d");
  window.myRadar = new Chart(ctx_radar).Radar(radarChartData, {


    {% include "thinks/global_configuration.js"%}
    scaleLineColor: "rgba(229, 229, 229, 0.4)",

    //--------------------------------------------------------------------------

    {% verbatim %}

    //Boolean - Whether to show lines for each scale point
    scaleShowLine : true,

    //Boolean - Whether we show the angle lines out of the radar
    angleShowLineOut : true,

    //Boolean - Whether to show labels on the scale
    scaleShowLabels : false,

    // Boolean - Whether the scale should begin at zero
    scaleBeginAtZero : true,

    //String - Colour of the angle line
    angleLineColor : "rgba(0,0,0,.1)",

    //Number - Pixel width of the angle line
    angleLineWidth : 1,

    //String - Point label font declaration
    pointLabelFontFamily : "'OCRA', 'Arial'",

    //String - Point label font weight
    pointLabelFontStyle : "normal",

    //Number - Point label font size in pixels
    pointLabelFontSize : 13,

    //String - Point label font colour
    pointLabelFontColor : "#666",

    //Boolean - Whether to show a dot for each point
    pointDot : true,

    //Number - Radius of each point dot in pixels
    pointDotRadius : 3,

    //Number - Pixel width of point dot stroke
    pointDotStrokeWidth : 1,

    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
    pointHitDetectionRadius : 20,

    //Boolean - Whether to show a stroke for datasets
    datasetStroke : true,

    //Number - Pixel width of dataset stroke
    datasetStrokeWidth : 2,

    //Boolean - Whether to fill the dataset with a colour
    datasetFill : true,

    //String - A legend template
    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"

    {% endverbatim %}


  });

})


</script>
