{% extends "page/base.html" %}


{% block content %}


<div class="card">
  <div class="card-block">

  <h1>Multiscale Entropy Analysis (MSE)</h1>


  <p>
  Sample Entropy is the negative natural logarithm of an estimate of the conditional probability that subseries (epochs)
  of length <var>m</var> that match pointwise within a tolerance <var>r</var> also match at the next point.
  </p>

  <ul>
  <li><a target="blank_" href="http://physionet.org/physiotools/mse/papers/">Papers about multiscale entropy</a></li>
  <li><a target="blank_" href="http://physionet.org/physiotools/sampen/">Sample Entropy </a></li>
  <li><a target="blank_" href="http://physionet.org/physiotools/mse/mse.c">mse.c</a></li>
  </ul>


  </div>
</div>



{% endblock %}
