{% extends "page/base.html"%}


{% block content %}


{% include "widgets/uploader.html" with form_id=0 %}


<div class="placeholder-analyser" data-form_id="1" ></div>


<button class="btn btn-secondary btn-add-analyser" style="margin-top: 30px;">Add analyser...</button>


{% endblock %}